.env
node_modules
package-lock.json
npm-debug.log
yarn.lock
yarn-error.log
NOTES.md
test.ts
test.c
test.exe
dist/
# git rm --cached test.c test.exe
# git rm --cached path/to/your/file



file.md
app-secret.yaml
app.secret.yaml
